.handle-btn-blue{
	background: linear-gradient(to right, #6b9bf4, #5f93f4);
	padding: 12px 28px;
	min-width: 150px;
	border-radius: 20px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;

	&.is-plain{
		border: 1px solid #4884F5;
		background: none;
		color: #4884F5;
	}
}

.blue-theme{
	color: #4884F5 !important;
}
.fz-17{
	font-size: 17px;
}

.completed{
	.tit{
		font-size: 22px;
		margin-top: 53px;
	}
	&.evaluation{
		.tip{
			font-size: 16px;
			color: #333;
			//margin: 25px 20px 0 20px;
			width: 272px;
			margin-top: 25px;
			line-height: 24px;
			text-align: center;
		}
		img{
			margin-top: 38px;
			margin-bottom: 94px;
		}
	}
	img{
		width: 228px;
		height: 235px;
		margin-top: 65px;
		margin-bottom: 147px;
	}
}

.van-picker__theme{
	.van-hairline--top-bottom:after{
		display: none;
	}
	.van-picker__cancel{
		color: #999;
	}
	.van-picker__confirm{
		color: #4884F5;
	}
	.van-picker-column__item--selected{
		color: #4884F5;
		font-weight: bolder;
	}
	.van-picker-column:before{
		content: unset;
	}
}


.high-animation{
	color: #4884F5 !important;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: 1.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: 2;
	animation-name: shakeX;
}


@keyframes shakeX {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	6.5% {
		-webkit-transform: translateX(-6px) rotateY(-9deg);
		transform: translateX(-6px) rotateY(-9deg)
	}

	18.5% {
		-webkit-transform: translateX(5px) rotateY(7deg);
		transform: translateX(5px) rotateY(7deg)
	}

	31.5% {
		-webkit-transform: translateX(-3px) rotateY(-5deg);
		transform: translateX(-3px) rotateY(-5deg)
	}

	43.5% {
		-webkit-transform: translateX(2px) rotateY(3deg);
		transform: translateX(2px) rotateY(3deg)
	}

	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
