<template>
	<div class="question-group">
		<template v-if="type === 'radio'">
		<van-radio-group v-model="c_value" v-bind="$attrs" v-on="$listeners">
			<van-radio
				checked-color="#4884f5"
				icon-size="19px"
				v-bind="$attrs"
				v-on="$listeners"
				v-for="item in options"
				:key="item.name"
				:name="item.name"
			>
				{{ item.label }}
			</van-radio>
		</van-radio-group>
		</template>
		<template v-if="type === 'checkbox'">
		<van-checkbox-group  v-model="c_value" v-bind="$attrs" v-on="$listeners">
			<van-checkbox
				icon-size="19px"
				checked-color="#4884f5"
				v-bind="$attrs"
				v-on="$listeners"
				v-for="item in options"
				:key="item.name"
				:name="item.name"
			>
				{{ item.label }}
			</van-checkbox>
		</van-checkbox-group>
		</template>
	</div>
</template>

<script>
import { hasKey } from 'vue-blur-load/src/tools';

export default {
	// 问题组
	name: "question-group",
	props: {
		value: {
			type: [String, Number, Array],
			required: true
		},
		/* 'radio'|'checkbox'*/
		type: {
			type: String,
			required: true
		},
		options: {
			type: Array,
			required: true,
			validator(v) {
				// 必须包含 name, label
				// name: 选项值, label: 选项文案
				return v.every(item => hasKey(item, 'name') && hasKey(item, 'label'))
			}
		},
		title: String
	},
	model: {
		prop: 'value',
		event: 'on-change'
	},
	computed: {
		c_value: {
			get({ value }) {
				return value
			},
			set(v) {
				this.$emit('on-change', v)
			}
		}
	}

}
</script>

<style lang="less" scoped>
::v-deep {
	.van-radio__label, .van-checkbox__label{
		font-size: 16px;
		color: #333;
	}
	.van-radio--horizontal{
		margin-right: 16px;
		//margin-bottom: 20px;
	}
	.van-checkbox, .van-radio{
		margin-bottom: 20px;
	}
}
</style>
