<template>
	<div class="expand-fn">
		<input
			@change="fileChange($event)"
			type="file"
			id="upload_file"
			multiple
			style="display: none"
		/>
		<svg-icon :icon="item.icon" size="24" :color="theme" v-for="item in sendFnList"
			:key="item.icon"
			@click="clickInterFn(item.send_type)" />

	</div>
</template>

<script>
import SvgIcon from '../icon';
import { termValidity } from '@/api/ossTermValidity';
export default {
	name: "expand-fn",
	props: {
		theme: {
			type: String,
			default: '#2d8cf0'
		},
		// 发送其他类型的消息(不包含文字)
		sendOtherTypeMsg: {
			type: Function,
			required: true
		}
	},
	components: { SvgIcon },
	data: () =>({
		sendFnList: [
			{ icon: 'image', send_type: 8 }
		],
		// 发送图片的配置
		sendImgOption: {
			limit: undefined,
			imgList: []
		}
	}),
	methods: {
		// 发送消息交互区
		clickInterFn(send_type) {
			console.log(send_type, 'send_type')
			switch (send_type) {
				case 8:
					document.getElementById('upload_file')
					.click()
					// window.open('http://baidu')
					break
			}
		},
		// 发送图片
		async uploadImageFn(flag) {
			let imgSrc = await termValidity(this.sendImgOption.imgList[0].file.src)
			let sendImgData = {
				dialog_tid: this.dialog_tid,
				mcontent: '',
				type: 8,
				images: JSON.stringify([imgSrc]),
				image_url: this.sendImgOption.imgList[0].file.src
			}
			await this.sendOtherTypeMsg(sendImgData)
			this.sendImgOption.imgList = []
		},
		fileChange(el) {
			if (!el.target.files[0].size) return
			this.fileList(el.target)
			el.target.value = ''
		},
		fileList(fileList) {
			let files = fileList.files

			if (files.length >= 2) {
				return this.$Message.warning('一次只能发送一张图')
			}

			for (let i = 0; i < files.length; i ++) {
				//判断是否为文件夹
				if (files[i].type !== '') {
					this.fileAdd(files[i], 'upload')
				} else {
					this.$Message.warning('请选择图片，再进行发送')
				}
			}

			// sendImgOption.imgList[0].file.src
		},

		fileAdd(file, type) {
			if (this.sendImgOption.limit !== undefined) this.sendImgOption.limit --
			if (this.sendImgOption.limit !== undefined && this.sendImgOption.limit < 0) return
			//判断是否为图片文件
			if (file.type.indexOf('image') === - 1) {
				return this.$Message.warning('请选择图片，再进行发送')
			} else {
				let reader = new FileReader()
				let image = new Image()
				let _this = this
				reader.readAsDataURL(file)
				reader.onload = function (e) {
					// console.log(file, 'ss')
					file.src = this.result
					switch (type) {
						case 'upload':
							image.onload = function () {
								let width = image.width
								let height = image.height
								file.width = width
								file.height = height
								_this.sendImgOption.imgList.splice(0, _this.sendImgOption.imgList.length)
								_this.sendImgOption.imgList.push({
									file
								})
								_this.uploadImageFn(true)
								// console.log(_this.imgList, 'upload')
							}
							image.src = file.src
							break
					}
					// console.log(_this.imgList, '_this.imgList')
				}
			}
		},
	}
}
</script>

<style lang="less" scoped>
	.expand-fn{
		.svg-icon{
			margin-right: 10px;
			&:first-of-type{
				margin-left: 10px;
			}
		}
	}
</style>
