<template>
	<div class="dialog-chat">
		<chat
			ref="patientDialog"
			:self_msg_type="[0, 1]"
			:sys_msg_type="5"
			:open-dialog-params="dialogParams"
			:open-dialog-api="OpenDialog"
			:get-msg-list-api="GetDialogMessagePageListByLT"
			:send-msg-api="SendDialogMessage"
			@on-open-dialog-err="handleOpenDialogErr"
		/>
	</div>
</template>

<script>
import Chat from '_c/main/chat/chat';
import { GetDialogMessagePageListByLT, OpenDialog, SendDialogMessage } from './api_dialog-chat.js';
import { insuranceList } from '_v/insurance/insurance-list';

export default {
	// 聊天
	name: "dialog-chat",
	components: { Chat },
	data() {
		return {
			dialogParams: {
				serviceType: '',
				source: '',
			},
			GetDialogMessagePageListByLT,
			OpenDialog,
			SendDialogMessage
		}
	},
  created(){
    // console.error(this.$route.query, 'asdasdasdasd')
    // if(this.$route.query.channel_code !== 'app' && !this.$route.query.entrance){
    // 	document.title = '肾爱保-肾上线健康管理版'
    // }else {
    // 	document.title = '肾上线客服'
    // }
    const routeQuery = this.$route.query
    // insur_code 保险产品 code
    console.log({
      serviceType: this.getServiceType(routeQuery.channel_code),
      source: this.getSource(routeQuery.source_code)
    }, 'openDialog 参数')
    /**@type InsuranceListProps*/
    Object.assign(this.dialogParams,{
      serviceType: this.getServiceType(routeQuery.channel_code),
      source: this.getSource(routeQuery.source_code)
    })

  },
	methods: {
		handleOpenDialogErr(){
			console.log('打开对话失败')
		},
    /**
     * 获取服务场景
     * @param channel_code  {string}    场景区分code
     *
     * @discussion    注意: 该方法用来获取 服务场景, 需要通过url传递 channel_code 参数
     * @return {number}
     */
    getServiceType(channel_code){
      switch (channel_code) {
        case 'app':
          return 0
        case 'insurance':
          return 1
        case 'mall':
          return 2
        default:
          return 1
      }
    },
    // 会话来源
    getSource(source_code){
      switch (source_code) {
        case 'app':
          return 1
        case 'h5':
          return 0
        default:
          return 0
      }
    },
	}
}
</script>

<style lang="less" scoped>
.dialog-chat{
	height: 100%;
}
</style>
