<template>
	<div class="upload-image">
		<input
			ref="refPhoto"
			type="file"
			name="single"
			accept="image/*"
			@change="onChange"
		/>
	</div>
</template>

<script>
import { GetOSSPolicyAndSignForMiniApp } from '@/api/public';
import { UploadConfig } from './upload-config';
import { termValidity } from '@/api/ossTermValidity';

export default {
	// 上传图片
	name: "upload-image",
	methods: {
		async onChange($event) {
			let config = JSON.parse(sessionStorage.getItem('oss'))
			if(!config || parseInt(+new Date() / 1000) > parseInt(config.expire)){
				let load = this.$Load.show({
					el: document.querySelector('.mr-guide'),
					content: '请稍后'
				})
				let dat = await GetOSSPolicyAndSignForMiniApp()
				load.close()
				sessionStorage.setItem('oss', JSON.stringify(dat.data))
			}

			const uploadConfig = new UploadConfig()
			for (const file of $event.target.files) {
				uploadConfig.setFile(file)

				let load = this.$Load.show({
					el: document.querySelector('.mr-guide'),
					size: 'mini',
					content: '上传中'
				})
				if (!file) {
					this.$toast.fail('选择图片失败')
					load.close()
				}

				try {
					// 开始上传
					let file_src = await uploadConfig.readFileFn()
					const osskey = await termValidity(file_src)
					load.close()
					this.$emit('on-success', {
						osskey,
						file_src
					})
				} catch (error) {
					this.$toast.fail(error.message || '上传失败')
					console.log(error)
				}
			}
		},
	}
}
</script>

<style lang="less" scoped>
.upload-image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	input{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		left: 0;
		top: 0;
	}
}
</style>
