@transition-duration: 0.46s;
@transition-timing-function: cubic-bezier(.29, 0, .18, 1);
.loading-cotainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	color: var(--theme);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 15px;
	text-shadow: 0 0 3px var(--theme);
	background: rgba(255, 255, 255, 0.45);
	transition: @transition-duration @transition-timing-function all;
	backdrop-filter: blur(2px);
	i {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: var(--theme);
		box-shadow: 0 0 6px 1px var(--theme);
		animation: scale 1s both infinite;
	}
}


@keyframes scale {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1.3);
	}
}
.loading-fade-enter,
.loading-fade-leave-active {
	opacity: 0;
}
