<template>
	<div class="template-wrapper">
		<div class="header">
			<van-nav-bar title="肾上线手机快速登录"/>
		</div>

		<div class="main-content">
			<div class="form">
				<van-cell-group>
					<van-field
						v-model.trim="tel"
						center
						clearable
						label="手机号码"
						placeholder="请输入手机号码"
					>
					</van-field>
				</van-cell-group>

				<van-cell-group>
					<van-field
						v-model.trim="vcode"
						center
						clearable
						label="短信验证码"
						placeholder="请输入短信验证码"
					>
						<van-button
							slot="button"
							size="small"
							round
							class="xg-button"
							@click="sendVcode"
							type="primary"
						>{{ sendText }}
						</van-button>
					</van-field>
				</van-cell-group>
			</div>
		</div>

		<div class="footer">
			<div class="buttons">
				<van-button round class="xg-button" type="primary" @click="bindTel">
					登录
				</van-button>
				<div class="buttonCopy">
					<p>本服务由北京凯德尼医疗科技有限公司</p>
					<p>肾上线团队提供</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import {
	GetBindUserTelVCodeForH5,
	SilentBindOrRegisterForH5
} from '@/api/public.js';
import { noSharing } from '@/libs/wxsdk';

export default {
	data() {
		return {
			tel: '',
			vcode: '',
			sendText: '发送验证码',
			countdown: 30,
			unionid: '',
			redirect: ''
		};
	},

	computed: {},
	created() {
		this.unionid = this.$route.query.unionid;
		this.redirect = this.$route.query.redirect;
		noSharing()
	},
	mounted() {},
	methods: {
		async sendVcode() {
			if (this.countdown !== 30) {
				return;
			}

			if (!this.tel || this.tel.length !== 11) {
				this.$toast('请输入手机号码');
				return;
			}

			this.$toast.loading({
				mask: false,
				duration: 0,
				message: '短信发送中...'
			});
			try {
				const res = await GetBindUserTelVCodeForH5({ tel: this.tel });
				this.$toast.clear();
				this.$toast('验证码发送成功');

				let timer = setInterval(() => {
					if (this.countdown <= 0) {
						clearInterval(timer);
						this.countdown = 30;
						this.sendText = '发送验证码';
					} else {
						this.sendText = this.countdown + '秒后重发';
						this.countdown -= 1;
					}
				}, 1000);
				this.$toast.clear();
			} catch (e) {
				//console.log(e);
				this.$toast('验证码发送失败，请重试');
				this.$toast.clear();
			} finally {
			}
		},

		async bindTel() {
			if (!this.tel || this.tel.length !== 11) {
				this.$toast('请输入手机号码');
				return;
			}

			if (!this.vcode || this.vcode.length === 0) {
				this.$toast('请输入验证码');
				return;
			}

			this.$toast.loading({
				mask: false,
				duration: 0,
				message: '数据加载中...'
			});
			try {
				const res = await SilentBindOrRegisterForH5({
					tel: this.tel,
					vcode: this.vcode,
					unionid: this.unionid
				});

				let token = res.data.token;
				this.$store.dispatch('setApiToken', token);

				// 跳转到之前的页面
				if (this.redirect) {
					this.$router.replace({
						path: this.redirect
					});
				} else {
					this.$store.commit('M_LOGIN_DATA', {
						...res.data,
						wxloginstate: 1,
						unionid: this.$store.getters.loginData.unionid
					})
					this.$router.replace({
						name: this.$route.query.redirect_name
						// query: this.$route.query
					})
				}
				this.$toast.clear();
			} catch (e) {
				console.error(e);
				console.error(e.data);
				if (e.data && e.data.ERRORINFO !== '') {
					this.$toast.clear();
					this.$toast(e.data.ERRORINFO);
				} else {
					this.$toast.clear();
					this.$toast(e.data.ERRORINFO);
					// this.$toast('绑定手机号失败，请重试');
				}
			} finally {
			}
		}
	}
};
</script>
<style lang="stylus" scoped>
.template-wrapper {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 100vh;
	box-sizing: border-box;
	overflow-y: scroll;

	.header {
		.van-nav-bar__text {
			color: #0BA892;
		}
	}

	.main-content {
		padding: 15px;
		flex: 2;

		.xg-button {
			background: linear-gradient(to right, #2cbfaa 0%, #0BA892 100%);
			color: #ffffff;
			border: none;
		}
	}

	.footer {
		width: 100%;
		background-color: white;
		color: #0BA892;
		flex-shrink: 0;

		.buttons {
			padding: 15px;

			/deep/ .van-uploader {
				width: 100%;

				.van-uploader__wrapper {
					display: block;
				}
			}
		}

		.buttonCopy {
			margin: 20px 0 20px 0;
			font-weight: 400;
			color: rgba(153, 153, 153, 1);
			font-size: 12px;
			text-align: center;
		}

		.xg-button {
			background: linear-gradient(to right, #2cbfaa 0%, #0BA892 100%);
			color: #ffffff;
			border: none;
			width: 90%;
			margin: 0 auto;
			display: block;
		}

		.xg-button-holo {
			background-color: white;
			border: 1px solid #2cbfaa;
			color: #0BA892;
			width: 90%;
			margin: 0 auto;
			display: block;
		}
	}
}
</style>
