<template>
	<div>
		<!--{{code}}-->
	</div>
</template>
<script>
import { LoginByWechatFoH5UnionID, LoginByWechatForH5 } from '@/api/wx';
import { monitorBug } from '@/houtai/monitorBug';
import { baseRoute, permissionStr } from '@/settings';
import { insuranceList } from '_v/insurance/insurance-list';
import { MIX_INSURANCE } from '@/mixins/module/insurance.mix';
import { param2Obj } from '@/libs/tools';


export default {
	mixins: [MIX_INSURANCE],
	data() {
		return {
			unionid: '',
			redirect: '',
			openid: '',
			code: ''
		};
	},

	components: {},

	computed: {},

	created() {
		this.getCode();
	},
	methods: {
		getCode() {
			// 非静默授权，第一次有弹框
			if (['build_test', 'build_prod'].find(item => item === process.env.VUE_APP_RUN_MODE)) {
			// if (process.env.VUE_APP_ALIKE === 'wxSignIn') {
				this.code = '';
				this.code = this.getUrlCodes().code; // 截取code
				this.redirect = unescape(this.getUrlCodes().state) + this.$store.getters.redirectQueryStr;
				if (this.code == null || this.code === '') {
					// 如果没有code，则去请求
					this.$dialog
						.confirm({
							title: '提示',
							message: '网络不佳，请重试？'
						})
						.then(() => {
							this.$router.replace({
								path: '/'
							});
						})
						.catch(() => {});
				} else {
					this.login();
				}
			} else {
				this.redirect = this.$route.query.path + this.$store.getters.redirectQueryStr;
				this.login();
			}
		},
		getUrlCodes() {
			return param2Obj()
		},
		async login() {
			// 如果有 token
			if (this.$store.state.apiAuth.apiToken) {
				this.jumpRedirect(this.$store.getters.loginData.is_doctor)
				return;
			}
			this.$toast.loading({
				mask: false,
				duration: 0,
				message: '数据加载中...'
			});
			try {
				let res = null;
				if (['build_test', 'build_prod'].find(item => item === process.env.VUE_APP_RUN_MODE)) {
				// if (process.env.VUE_APP_ALIKE === 'wxSignIn') {
					res = await LoginByWechatForH5({
						code: this.$route.query.code,
						// dizhi: this.redirect
						code_type: this.$route.query.code_type
					});
					this.unionid = res.data.unionid;
					this.openid = res.data.openid;
				} else {
					res = await LoginByWechatFoH5UnionID({
						unionid: this.$route.query.unionid
					});
					this.unionid = this.$route.query.unionid;
					this.openid = this.$route.query.openid;
				}
				let data = res.data;
				let loginState = data.wxloginstate;
				let pdDoctor = data.userrole;
				// console.log(process.env.VUE_APP_RUN_MODE, data, '带有 unionid')

				// 写入unionid和openid到缓存
				let marketing = this.$route.fullPath.includes('marketing') || this.redirect.includes('insur_code=axyjk')
				this.$store.commit('M_LOGIN_DATA', Object.assign(data, {
					unionid: this.unionid,
					openid: this.openid,
					marketing
				}))
				if(marketing){
					this.jumpRedirect(false)
					return
				}

				if (loginState === 1) {
					// 已经注册
					// 将token写入状态
					let token = data.token;
					this.$store.dispatch('setApiToken', token);

					// 获取患者信息
					// this.$store.dispatch('userinfo');
					// this.$store.dispatch('userimage');

					this.$toast.clear();
					this.jumpRedirect(pdDoctor === 1)
				} else {
					// 未注册，需要绑定手机号码
					this.$toast.clear();

					let unionid = data.unionid;
					this.$router.replace({
						name: 'bindTel',
						query: {
							unionid: unionid,
							redirect: this.redirect
						}
					});
				}
			} catch (e) {
				console.error(e)
				monitorBug(e, 'login')
				// 错误提示框
				this.$dialog
					.confirm({
						title: '提示',
						message: '登录出错了，是否重试？'
					})
					.then(() => {
						return this.$router.replace({
							path: '/'
						});
					})
					.catch(() => {});
			} finally {
			}
		},
		async jumpRedirect(is_doctor) {
			let url =
				window.location.protocol +
				"//" +
				window.location.host +
				"/" + baseRoute + "" +
				this.redirect

			if(this.$store.getters.loginData.marketing){
				location.replace(url)
				return
			}

			if(permissionStr.includes('doctor')){
				if(!is_doctor) {
					await this.$router.replace({
						path: '/doctorlogin',
					});
					return
				}
			}else if (permissionStr.includes('patient')){
				if(is_doctor) {
					await this.$router.replace({
					  path: '/doctorlogin',
					});
					return
				}
			}else {
			}
			const path = this.redirect.split('?')[0]
			const query = param2Obj(url)
			this.$store.commit('M_HOME_ROUTE', {
				fullPath: this.redirect,
				path,
				query
			})


			if(url.includes('dialog_chat')){
				location.replace(url)
				return
			}
			/**@type InsuranceListProps*/
			let tmp = insuranceList.find(item => item.insur_code === query.insur_code)
			if(tmp.insur_web_url){
				location.replace(tmp.insur_web_url)
			}else {
				location.replace(url)
			}
		}
	}
};
</script>
<style lang="stylus" scoped></style>
