<template>
	<div class="evaluation-form">
		<div class="progress-container flex-layout flex-aic">
			<p class="flex-shrink-0 bolder">当前完善度</p>
			<div class="progress-bar">
				<p :style="{width: completedInfo.disabled ? '100%':`${(index - 1) * 25}%`}">
					<span v-if="completedInfo.disabled">100%</span>
					<template v-else>

					<span v-if="index - 1">{{ (index - 1) * 25 }}%</span>
					</template>
				</p>
			</div>
		</div>
		<keep-alive>
			<component
				:is="compName"
				:form-data="completedInfo.data"
				@on-click-next="onClickNext"
				@on-click-prev="index -= 1"
			/>
		</keep-alive>
		<van-popup position="bottom" style="height: 100%;width: 100%;" v-model="completedInfo.visible">
			<div class="completed evaluation flex-layout flex-jcc flex-aic flex-col">
				<p class="tit blue-theme bolder">我们已经收到您的风险测评信息</p>
				<p class="tip">我们将在一个工作日内根据您的信息为您解读当前风险，并会给出初步建议</p>
				<p>
					<img src="http://static.ishenzang.com/static/ko/h5/insurance/evaluation_bg.png" alt="">
				</p>
				<!--<van-button-->
				<!--	class="handle-btn-blue"-->
				<!--	@click="completedInfo.visible = false"-->
				<!--&gt;确定</van-button>-->
			</div>
		</van-popup>
	</div>
</template>

<script>
import '../questions.less'
import BasicInfo from '_v/questions/evaluation-form/comp/basic-Info';
import ConditionInfo from '_v/questions/evaluation-form/comp/condition-Info';
import TreatScheme from '_v/questions/evaluation-form/comp/treat-scheme';
import EconomicStatus from '_v/questions/evaluation-form/comp/economic-status';
import { cloneObj, deepClone, isEmpty } from 'vue-blur-load/src/tools';
import { EvaluationForWx, GetPatientByUnionId } from '_v/questions/api_questions';
import { getShareSDK } from '@/libs/wxsdk';

const filterConfig = {
	workerids: {
		'1a03594114847a5e': {
			work_name: '郭乃亮'
		},
		'7374b3af8593b407': {
			work_name: '蔡辰'
		},
		'32212ce08adb6577': {
			work_name: '张博翰'
		},
		'92323793c3bf936d': {
			work_name: '张翘翘'
		},
		'db9edeef2f7f7bd2': {
			work_name: '杨帆'
		}
	}
}

export default {
	// 风险测评问卷
	name: "evaluation-form",
	components: { EconomicStatus, TreatScheme, ConditionInfo, BasicInfo },
	data() {
		return {
			index: 1,
			compName: 'BasicInfo',
			completedInfo: {
				visible: false,
				disabled: false,
				data: {}
			}
		}
	},
	watch: {
		index(v) {
			this.$el.scrollTop = 0
			switch (v - 1) {
				case 0:
					this.compName = 'BasicInfo'
					break;
				case 1:
					this.compName = 'ConditionInfo'
					break;
				case 2:
					this.compName = 'TreatScheme'
					break;
				case 3:
					this.compName = 'EconomicStatus'
					break;
			}
		}
	},
	created() {
		let url = location.href.split("#")[0]/*.replace(/\??CACHEK=.{8}&?/, '')*/;
		getShareSDK({
			title: '风险测评问卷',
			link: url,
			desc: '我们将根据您的实际情况为您初步进行评估并提供初步建议'/* + filterConfig.workerids[this.$route.query.id].work_name*/,
			img: 'http://static.ishenzang.com/static/ko/h5/insurance/evaluation_bg.png'
		});
		this.handleGetPatientByUnionId()
	},
	methods: {
		async handleGetPatientByUnionId() {
			let { data } = await GetPatientByUnionId({
				unionid: this.$store.getters.loginData.unionid
			})
			console.log(data)
			// if(isEmpty(data.info)){
			// 	this.$dialog.alert({
			// 		title: '您还未报名',
			// 		confirmButtonText: '知道了'
			// 	}).then(() =>{
			// 		window.HandleBack.closeH5Page()
			// 	})
			// 	return
			// }
			this.completedInfo.data = data.info
			this.completedInfo.visible = !!data.info['hasassess']
			this.completedInfo.disabled = !!data.info['hasassess']
			// cloneObj(this.answerInfo, data.info)
		},
		onClickNext({ is_complete, data }) {
			if (is_complete) {
				let { unionid, wx_nickname, wx_headimgurl } = this.$store.getters.loginData
				Object.assign(this._resData, data, {
					unionid,
					nikename: wx_nickname,
					pic: wx_headimgurl
				})
				let load = this.$Load.show({
					content: '提交中',
					size: 'small'
				})
				EvaluationForWx({ Evaluation: this._resData, workerid: this.$route.query.id.slice(0, 16) })
					.then(() => {
						load.close(() => {
							this.completedInfo.visible = true
						})
					})
				return
			}
			this.index += 1

			if (this._resData) {
				Object.assign(this._resData, data)
			} else {
				this._resData = data
			}
			// this.$el.scrollTop = 0
		}
	}
}
</script>

<style lang="less" scoped>
.evaluation-form {
	background: #f5f5f5;

	.progress-container {
		padding: 21px 18px 17px;
	}

	.progress-bar {
		margin-left: 23px;
		background: #d8d7d7;
		border-radius: 9px;
		width: 100%;
		overflow: hidden;

		p {
			transition: width 0.3s;
			border-radius: 9px;
			color: #fff;
			height: 18px;
			background: linear-gradient(90deg, #6B9BF4 0%, #5E92F4 100%);
			text-align: right;
			font-size: 12px;
			line-height: 18px;

			span {
				padding-right: 13px;
			}
		}
	}
}
</style>
