<template>
	<div class="page-2">
		page-2
		<van-button @click="$router.push({ name: 'page-3' })">下一页</van-button>
		<van-button @click="$RouteManager.backHome()">返回首页</van-button>
	</div>
</template>

<script>
export default {
	// 测试页面1
	name: "page-2"
}
</script>

<style lang="less" scoped>

</style>
