.tag, .plain-tag {
	font-size: 12px;
	border-radius: 4px;
	padding: 3px 7px;
	line-height: 1;
	display: inline-block;

	&.theme {
		background: var(--theme);
		color: #fff;
	}

	&.gray {
		background: #F2F2F2;
		color: #656565;
	}

	&.red {
		color: #F72418;
		border: 1px solid #F72418;
	}

	&.plain-theme {
		color: var(--theme);
		border: 1px solid var(--theme);
	}
}

.handle-btn {
	.default-button() {
		background: linear-gradient(96deg, rgba(239, 174, 76, 1) 0%, rgba(234, 142, 70, 1) 100%);
		padding: 8px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		text-align: center;
		box-sizing: border-box;
		color: #fff;
		min-width: 90px;
		border: none;
		font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
	}

	&.van-button {
		margin: unset;
		height: unset;
		line-height: 12px;
		.default-button()
	}

	color: #fff;

	.default-button();


	&.border {
		padding: 8px 0;
		background: none;
		border: 1px solid var(--theme);
		color: var(--theme);
	}

	&.gray-border {
		padding: 8px 0;
		background: none;
		border: 1px solid #ccc;
		color: #999;
	}
}


// 两行省略
.text-overflow(@line-count) {
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	/*! autoprefixer: off */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line-count;
	word-break: break-all;
}

.text-overflow {
	&-1 {
		.text-overflow(1)
	}

	&-2 {
		.text-overflow(2)
	}
}

.flex-layout {
	display: flex;

	&.flex-jcc {
		justify-content: center;
	}

	&.flex-aic {
		align-items: center;
	}

	&.flex-jcsb {
		justify-content: space-between;
	}

	&.flex-jcsa {
		justify-content: space-around;
	}

	&.flex-col {
		flex-direction: column;
	}

	&.flex-end {
		justify-content: flex-end;
	}

	&.flex-wrap{
		flex-wrap: wrap;
	}

}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-1 {
	flex: 1;
}

.radius-10 {
	border-radius: 10px;
}

.pd-0-13 {
	padding: 0 13px;
}
.text-center{
	text-align: center;
}
.loop( @count )when( @count > 0 ){
	@count2: @count * 2;
	.ml-@{count2}{
		margin-left: ( 2px * @count );
	}
	.mr-@{count2}{
		margin-right: ( 2px * @count );
	}
	.mb-@{count2}{
		margin-bottom: ( 2px * @count );
	}
	.mt-@{count2}{
		margin-top: ( 2px * @count );
	}
	.pb-@{count2}{
		padding-bottom: ( 2px * @count );
	}
	.pt-@{count2}{
		padding-top: ( 2px * @count );
	}
	.loop((@count - 1));
}
body{
	.loop(6);
	.bolder{
		font-weight: bolder;
	}
}

