@import "./vant";
@import "./base";
@import "./normalize.css";
:root {
	--theme: #EC8332;
}
.theme-color {
	color: var(--theme);
}

.fixed-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 65px;
	box-sizing: border-box;
	background: #fff;
	border-top: 1px solid rgba(236, 236, 236, 1);
	padding: 13px 12px 19px 16px;
}
