<template>
	<div class="easy-health">
		<div class="easy-health__head mb-20">
			<img src="https://static.ishenzang.com/static/ko/h5/insurance/easy-health__bg.png" alt="易健康">
		</div>
		<div class="easy-health__body">
			<div class="cover-area">
				<p class="mb-20">本产品覆盖区域：</p>
				<p class="mb-20">北京、天津、河北、江苏、广东。</p>
				<pre class="high-text">肾友福利  免费领取  免费问诊</pre>
			</div>
			<div class="pick-handle">
				<div class="flex-layout flex-aic">
					<p class="bolder fz-18">未领取用户：</p>
					<van-button round color="#FC8B2E" @click="jumpToReceive">立即领取</van-button>
				</div>
				<div class="flex-layout flex-aic">
					<p class="bolder fz-18">已领取用户：</p>
					<van-button round color="#579AEE" @click="jumpToConsult">折扣购药</van-button>
				</div>
			</div>
		</div>

		<popup
			position="center"
			:close-on-click-overlay="false"
			v-model="warnPopup.visible"
		>
			<div class="flex-layout flex-col flex-jcsb" style="height: 100%;">
				<p class="text-center bolder fz-18">您所在的地区，不属于福利覆盖范围</p>

				<div class="handle-area flex-layout flex-jcsb">
					<van-button round @click="closePage">返回</van-button>
					<van-button round color="#579AEE" @click="warnPopup.visible = false">继续</van-button>
				</div>
			</div>
		</popup>

	</div>
</template>

<script>

import Popup from "_c/main/popup/popup";
import { GenerateShareFriendSignInfo } from "@/api/wx";
import wx from "weixin-js-sdk";
import { MIX_INSURANCE } from '@/mixins/module/insurance.mix';
import { insuranceList } from '_v/insurance/insurance-list';
import { handleUserAuth } from '@/router/auth-tool';
(function () {
	let script = document.createElement("script");
	script.type = "text/javascript";
	script.src = "https://map.qq.com/api/gljs?v=1.exp&key=LGPBZ-3XAC2-BW6UF-C3CFT-4GYTF-HHBAG&callback=initMap&libraries=service";
	document.body.appendChild(script);
})();
export default {
	// 易健康
	name: "axyjk",
	mixins: [MIX_INSURANCE],
	components: { Popup },
	data() {
		return {
			mapAPI: process.env.VUE_APP_RUN_MODE.includes('build') ? 'https://apis.map.qq.com/ws': '/qqmap',
			warnPopup: {
				visible: false,
				receivable: false,
			}
		}
	},
	mounted() {
		if(this.$store.getters.loginData.unionid){
			this.$toast.loading({
				duration: 0,
				forbidClick: true
			})
			wx.ready(() =>{
				setTimeout(() =>{
					this.$toast.clear(true)
				}, 1000)
				this.getUserLocation()
			})
		}
	},
	created() {
		// this.handleSubmitDataBuringInfo('ClickAXYJKEntry')
	},
	methods: {
		toWXAuth(){
			// console.log(this.$route)
			// return
			// wxLoginCenter.login(this.$route, this.$router.replace)
			this.$router.replace({
				name: this.$route.name,
				query: {
					...this.$route.query,
					_is_login: true
				},
			})
		},
		//http://192.168.0.111:8081/insurances/?insur_code=axyj
		jumpToReceive() {

			this.handleSubmitDataBuringInfo('ClickAXYJKReceiveNow')
			if(!this.warnPopup.receivable){
				this.warnPopup.visible = true
			}else {
				this.$toast.loading({
					duration: 0
				})
				location.href = 'https://partnerapi-aixinbroker.luckyins.com/api-insured-entry?productCode=RTRB01&agentCode=AXJJ004220DB'
			}
		},
		jumpToConsult() {
			this.$toast.loading({
				duration: 0
			})
			this.handleSubmitDataBuringInfo('ClickAXYJKFreeConsult')
			if(!this.warnPopup.receivable){
				this.warnPopup.visible = true
			}else {
				this.$toast.loading({
					duration: 0
				})
				location.href = 'https://yjadmin.youjiajk.com/saas/#/dispense?token=JTdCJTIyY2hhbm5lbGNvZGUlMjIlM0ElMjJzaGVuc2hhbmd4aWFuMjAyMjA1MjQlMjIlN0Q='
			}
		},
		closePage() {
			window.HandleBack.closeH5Page()
		},
		async getAddress(latitude, longitude) {
			let a = new window.TMap.service.Geocoder

			let data = await a.getAddress({
				location: new window.TMap.LatLng(latitude, longitude)
			})
			if (data.status !== 0)return
			let allowArea = ['北京', '天津', '河北', '江苏', '广东']
			let find = allowArea.find(name => data['result']['address_component']['province'].includes(name))
			console.log(find)
			this.warnPopup.receivable = !!find
			console.log(data)

		},
		async getUserLocation() {
			let find = insuranceList.find(item => item.insur_code.toLowerCase() === this.$route.query.insur_code.toLowerCase())
			wx.getLocation({
				// type: 'gcj02', // 默认为wgs84的 gps 坐标，如果要返回直接给 openLocation 用的火星坐标，可传入'gcj02'
				success: async (res) => {
					console.warn(res)
					this.getAddress(res.latitude, res.longitude)
				},
				fail: (e) =>{
					console.log(e)
					// this.getUserLocation()
					// alert('取消授权')
				}
			});
			/*return
			let { data } = await GenerateShareFriendSignInfo({
				path: location.href
			})
			// return
			wx.config({
				// debug: location.href.includes('testTool=true'),
				appId: data['appid'],
				timestamp: data['timestamp'],
				nonceStr: data['noncestr'],
				signature: data['signature'],
				jsApiList: ['getLocation'/!*, 'showMenuItems', 'updateTimelineShareData', 'updateAppMessageShareData', 'hideAllNonBaseMenuItem'*!/]
			});

			wx.ready(() => {

				wx.getLocation({
					// type: 'gcj02', // 默认为wgs84的 gps 坐标，如果要返回直接给 openLocation 用的火星坐标，可传入'gcj02'
					success: async (res) => {
						console.warn(res)
						this.getAddress(res.latitude, res.longitude)
					},
					fail: (e) =>{
						console.log(e)
						// this.getUserLocation()
						// alert('取消授权')
					}
				});


				/!*wx.hideAllNonBaseMenuItem();
				wx.showMenuItems({
					menuList: [
						"menuItem:share:appMessage",
						"menuItem:share:timeline",
						"menuItem:favorite"
					], // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
					success: function (res) {

					},
					fail: function (res) {

					}
				});
				// 分享到对话消息
				wx.updateAppMessageShareData({
					title: find.share_info.title,
					desc: location.href,
					link: find.share_info.desc,
					imgUrl: find.share_info.thumb,
					trigger: function trigger(res) {
					},
					success: function success(res) {
						//console.log('已分享');
					},
					cancel: function cancel(res) {
						//console.log('已取消分享');
					},
					fail: function fail(res) {
						//console.log('分享失败');
					}
				});

				// 分享到朋友圈
				wx.updateTimelineShareData({
					title: find.share_info.title,
					desc: location.href,
					link: find.share_info.desc,
					imgUrl: find.share_info.thumb,
					trigger: function trigger(res) {
					},
					success: function success(res) {
						//console.log('已分享');
					},
					cancel: function cancel(res) {
						//console.log('已取消分享');
					},
					fail: function fail(res) {
						//console.log('分享失败');
					}
				});*!/
			});

			wx.error(function (res) {
				//alert("微信验证失败");
				console.warn(res)
			});*/
		}
	}
};
</script>

<style lang="less" scoped>
.easy-health {
	background: #f4f3f8;

	.fz-18 {
		font-size: 18px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}
}

.easy-health__head {

	img {
		width: 100%;
	}
}

.easy-health__body {
	padding: 0 20px;
	box-sizing: border-box;

	.cover-area {
		font-size: 20px;

	}

	.high-text {
		font-size: 24px;
		color: #579AEE;
		font-weight: bolder;
		font-family: inherit;
	}


	.pick-handle {
		margin-top: 50px;

		& > div {
			padding-bottom: 42px;
		}

		.van-button {
			padding: 12px 42px;
			height: 46px;
			line-height: 46px;
			font-size: 22px;
			font-weight: bolder;
		}
	}
}

.van-popup {
	padding: 46px 16px;
	width: 86%;
	height: 38%;

	.handle-area {
		padding: 0 10px;
	}

	.van-button {
		padding: 12px 42px;
		font-size: 18px;
		font-weight: bolder;

		&:first-child {
			color: #579AEE;
			border-color: #579AEE;
		}
	}
}
</style>