<template>
	<div class="economic-status">
		<div>
			<ul class="economic-status-card">
				<li><p class="economic-status-tit blue-theme bolder">经济状况</p></li>
				<li>
					<p class="question-title">您家庭月收入情况如何？</p>
					<question-group
						v-model="subInfo.monthlyincome"
						:options="optionConfig.monthlyincome"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">您现在是否有车贷或房贷等经济压力？</p>
					<question-group
						v-model="subInfo.hashouslloan"
						direction="horizontal"
						:options="optionConfig.hashouslloan"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">您认为除医保外，另外购买保险是否有助于缓解住院期间的医疗费用？</p>
					<question-group
						v-model="subInfo.isapproveinsurance"
						direction="horizontal"
						:options="optionConfig.isapproveinsurance"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">您是否购买过商业保险？</p>
					<question-group
						v-model="subInfo.hasbuyinsurance"
						direction="horizontal"
						:options="optionConfig.hasbuyinsurance"
						type="radio"
					/>
				</li>
				<li v-if="subInfo.hasbuyinsurance">
					<p class="question-title">您购买的保险属于哪种？【可多选】</p>
					<question-group
						v-model="subInfo.insurancetypelist"
						direction="horizontal"
						:options="optionConfig.insurancetypelist"
						type="checkbox"
					/>
				</li>
			</ul>
			<div class="economic-status-card">
				<p class="tel-container flex-layout flex-jcsb flex-aic border-bottom">
					<span class="bolder">联系方式</span>
					<input
						class="text-right init-inp"
						type="tel"
						v-model="subInfo.tel"
						placeholder="点击填写"
					/>
				</p>
				<p class="blue-theme fz-13">为了更好更方便地向您反馈测评结果与建议，请您填写手机号码便于我们与您沟通</p>
			</div>
		</div>
		<div class="flex-layout flex-jcsa">
			<van-button class="handle-btn-blue is-plain" @click="$emit('on-click-prev')">上一步</van-button>
			<van-button class="handle-btn-blue" @click="clickNext">提交</van-button>
		</div>
	</div>
</template>

<script>
import QuestionGroup from '_v/questions/comp/question-group';
import { cloneObj, deepClone, isEmpty } from 'vue-blur-load/src/tools';

export default {
	// 经济状况
	name: "economic-status",
	props: {
		formData: Object
	},
	components: { QuestionGroup },
	data() {
		return {
			subInfo: {
				monthlyincome: '',
				hashouslloan: '',
				isapproveinsurance: [],
				hasbuyinsurance: '',
				insurancetypelist: [],
				tel: ''
			},
			optionConfig: {
				monthlyincome: [
					{ name: 1, label: '3000元以下' },
					{ name: 2, label: '3000-5000元' },
					{ name: 3, label: '5000-10000元' },
					{ name: 4, label: '10000-20000元' },
					{ name: 5, label: '20000元以上' }
				],
				hashouslloan: [
					{ name: 1, label: '是' },
					{ name: 0, label: '否' }
				],
				isapproveinsurance: [
					{ name: 1, label: '是' },
					{ name: 0, label: '否' }
				],
				hasbuyinsurance: [
					{ name: 1, label: '是' },
					{ name: 0, label: '否' }
				],
				insurancetypelist: [
					{ name: 1, label: '重疾险' },
					{ name: 2, label: '医疗险' },
					{ name: 3, label: '意外险' },
					{ name: 4, label: '寿险' },
					{ name: 5, label: '理财险' }
				]
			}
		}
	},
	watch: {
		formData: {
			immediate: true,
			handler(v) {
				cloneObj(this.subInfo, v)
			}
		}
	},
	methods: {
		clickNext() {
			let { monthlyincome, hashouslloan, isapproveinsurance, hasbuyinsurance, insurancetypelist } = this.subInfo
			if(hasbuyinsurance === 0){
				this.subInfo.insurancetypelist.splice(0)
			}
			if (isEmpty(monthlyincome) || isEmpty(hashouslloan) || isEmpty(isapproveinsurance) || isEmpty(hasbuyinsurance)
				|| (hasbuyinsurance === 1 && isEmpty(insurancetypelist))
			) {
				this.$toast('请完善相关问题')
				return
			}
			if(isEmpty(this.subInfo.tel)){
				this.$toast('请完善【联系方式】')
				return
			}
			if((this.subInfo.tel+'').length !== 11 && +this.subInfo.tel > 0){
				this.$toast('【联系方式】格式不对')
				return
			}

			this.$emit('on-click-next', { is_complete: true, data: this.subInfo })
		}
	}
}
</script>

<style lang="less" scoped>

.economic-status {
	padding-bottom: 20px;

	&-tit {
		padding-bottom: 12px;
		font-size: 16px;
	}
}

.question-title {
	font-size: 17px;
}


.economic-status-card {
	border-radius: 13px;
	background: #fff;
	padding: 14px 22px 24px 24px;
	margin: 10px 10px 24px 10px;

	.question-title {
		font-weight: bolder;
		color: #333;
		margin-bottom: 20px;
	}
}
.tel-container{
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 14px;
	margin-bottom: 18px;
	input{
		text-align: right;
		border: none;
		outline: none;
	}
}
	.fz-13{
		font-size: 13px;
	}
</style>
