<template>
	<van-popup
		ref="Ref_VanPopup"
		round
		v-model="C_Visible"
		:position="position"
		v-bind="$attrs"
		v-on="$listeners"
		@click-overlay="clickOverlay"
		safe-area-inset-bottom
		@click-close-icon="$emit('on-visible', false)"
	>
		<!--:close-on-click-overlay="closeOnClickOverlay"-->
		<slot/>
	</van-popup>
</template>

<script>
export default {
	//
	name: "popup",
	props: {
		visible: {
			type: Boolean,
			required: true
		},
		position: {
			type: String,
			default: 'bottom'
		},
		stateFlag: String,
		// closeOnClickOverlay: {
		// 	type: Boolean,
		// 	default: true
		// }
	},
	model: {
		prop: 'visible',
		event: 'on-visible'
	},
	created() {
		this.backhandle = window.HandleBack
	},
	mounted() {
	},
	computed: {
		C_Visible: {
			get({ visible }) {
				return visible
			}, set() {}
		}
	},
	watch: {
		C_Visible(v) {
			let closePopup = () => {
				this.$emit('on-visible', false)
			}
			if (v) {
				this.backhandle.push({ flag: this.stateFlag || 'close-popup' }, closePopup)
			} else {
				this.backhandle.remove({ flag: this.stateFlag || 'close-popup' }, closePopup)
			}
		}
	},
	methods: {
		clickOverlay(){
			this.$emit('click-overlay')
			if(this.$attrs['close-on-click-overlay'] === void 0 || this.$attrs['close-on-click-overlay']) {
				this.$emit('on-visible', false)
			}
		}
	}
}
</script>

<style lang="less" scoped>
.van-popup {
	box-sizing: border-box;
}
</style>
