<template>
	<div id="app" ref="app" class="app" v-on:touchstart="bodyTouchStart" v-on:touchmove="bodyTouchMove" v-on:touchend="bodyTouchEnd">
		<!--		<keep-alive>-->
		<!--			<transition :name="transitionName">-->
		<!--				<router-view v-if="$route.meta.keepAlive"></router-view>-->
		<!--			</transition>-->
		<!--		</keep-alive>-->
		<!--不需要缓存组件-->
		<transition :name="transitionName">
			<router-cache>
				<div id="navback"></div>
				<router-view :key="$route.fullPath" class="router-animate"/>
			</router-cache>
		</transition>
	</div>
</template>
<script>
var swidth = document.documentElement.clientWidth;

export default {
	data() {
		return {
			transitionName: '',
			// touchLeft 划动起点界限，起点在靠近屏幕左侧时才有效
			touchLeft: swidth*2/5,
			slideLock: false,
			// touchStartPoint 记录起始点X坐标
			touchStartX: 0,
			// touchStartPoint 记录起始点Y坐标
			touchStartY: 0,
			// distanceX 记录划动的距离
			distanceX: 0,
			// distanceY 记录是否纵向滑动的距离
			distanceY: 0,
			// 回退按钮的dom，根据页面上是否存在此dom来判断该路由是否可回退
			backBtn: null
		};
	},
	watch: {
		'$route'(to, from) {
			if (to.params['CACHEK'] === 'forward') {
				this.transitionName = 'forward'
			} else
				this.transitionName = 'back'
			if (!to.path.includes('search')) {
			} else {
				// this.transitionName = ''
			}
			// const routeDeep = router.options.routes.map(item => item.path);
			// const toDepth = routeDeep.indexOf(to.path)
			// const fromDepth = routeDeep.indexOf(from.path)
			// // if(to.meta && to.meta.no_animate)return
			// // if(from.meta && from.meta.no_animate)return
			// if (to.path.includes('search')) {
			// 	this.transitionName = ''
			// } else {
			// 	this.transitionName = toDepth > fromDepth ? 'fold-left' : 'fold-right'
			// }
		}
	},
	computed: {},
	mounted() {

	},
	methods: {
		bodyTouchStart: function(event) {
			this.backBtn = document.querySelector("#app >*");
			if (this.backBtn) {
				// 获得起点X坐标，初始化distance为0
				this.touchStartX = event.targetTouches[0].pageX;
				this.distanceX = 0;
				this.touchStartY = event.targetTouches[0].pageY;
			}
		},
		bodyTouchMove: function(event) {
			if (this.backBtn && this.touchStartX < this.touchLeft) {
				// 只监听单指划动，多指划动不作响应
				if (event.targetTouches.length > 1) {
					return;
				}
				// 实时计算distance
				this.distanceX = event.targetTouches[0].pageX - this.touchStartX;
				this.distanceY = event.targetTouches[0].pageY - this.touchStartY;
				// 根据distance在页面上做出反馈。这里演示通过返回按钮的背景变化作出反馈
				if (this.distanceX > 0 && this.distanceX < 100) {
					this.backBtn.style.backgroundPosition = ((this.distanceX - 100) / 100) * 50 + "px 0";
					// document.getElementById('s').classList.add('moving')
				} else if (this.distanceX >= 100) {
					this.backBtn.style.backgroundPosition = "0 0";
				} else {
					this.backBtn.style.backgroundPosition = "-50px 0";
				}
			}
		},
		bodyTouchEnd: function(event) {
			this.slideLock = this.distanceY < 0 ? this.distanceY * -1:this.distanceY
			if (this.backBtn && this.touchStartX < this.touchLeft && this.slideLock <= 60 ) {
				// 划动结束，重置数据
				this.touchStartX = 0;
				this.backBtn.style.backgroundPosition = "-50px 0";
				// 当划动距离超过100px时，触发返回事件
				if (this.distanceX > 100) {
					// 返回前修改样式，让过渡动画看起来更快
					this.$router.back();
				}
			}
		}
	}
};
</script>

<style lang="less">
//@import './common/stylus/mixins.styl';

//all .4s cubic-bezier(.86,0,.07,1)
[type = text] ，textarea {
	-webkit-user-select: text;
}
//#app.quickback >*{
//	transition-duration: 0.1s;
//}

body, html {
	font-family: PingFang SC, Helvetica Neue, Arial, sans-serif !important;
	color: #404040;
	overflow: hidden;
	input, pre{
		font-family: PingFang SC, Helvetica Neue, Arial, sans-serif !important;
	}
}
//.moving{
//	will-change: transform !important;
//	transition-timing-function: linear !important;
//	transition-duration: 0s;
//	overflow-scrolling: unset;
//		overflow: hidden !important;
//	&>*{
//	}
//	//transform: translateZ(0) !important;
//}
#navback{
	position: fixed;
	position: -ms-device-fixed;
	left: -100px;
	top: ~"calc(50vh - 60px)";
	width: 60px;
	height: 60px;
	background: #ebc;
	border-radius: 50%;
}
#app {
	//transform-style: preserve-3d;
	font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
	font-size: 15px;
	color: #404040;
	height: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	//overflow-scrolling: touch;
	//-webkit-overflow-scrolling: touch;
	z-index: 1;
	touch-action: none;

}
.app > *:not([class *= van-overlay]) {
	background: #fff;
	overflow-y: auto;
	height: 100%;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	//display: flex;
	//flex-direction: column;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

//.noloading {
//	height: 100%;
//	display: flex;
//	flex-direction: column;
//}


.van-hairline--bottom {
	border: none;
}

.van-picker-column {
	position: relative;
	z-index: 1;

	&:before {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	& > ul {
		z-index: -1;
		position: relative;
	}
}

.van-nav-bar__left {
	width: 40px;
}

.van-nav-bar__text {
	color: #EC8332 !important;
}

.van-nav-bar__arrow {
	color: #999 !important;
	font-size: 20px !important;
}
</style>
