<template>
	<div class="zhbwyy">
		<insurance-slot main-image="https://static.ishenzang.com/static/ko/h5/insurance/axskb_bg.jpg">
			<template #footer>
			<div class="handle-btn insurances" @click="$emit('on-jump')">
				点击查看保险详情
			</div>
			</template>
		</insurance-slot>
	</div>
</template>

<script>
import InsuranceSlot from '_c/insurance-slot/insurance-slot';

export default {
	// 众惠百万医疗
	name: "axskb",
	components: { InsuranceSlot }
}
</script>

<style lang="less" scoped>
.zhbwyy {
	background: linear-gradient(to right, #c8f1ed, #aee9e3);
}

::v-deep {
	.insurance-main-bg {
		margin-top: -26px;
	}

	.insurance-footer {
		background: linear-gradient(to right, #c8f1ed, #aee9e3);
		z-index: 10;
		//bottom: -30px;
		//i {
		//	display: block;
		//	width: 100%;
		//	min-height: 70px;
		//	background: url("http://static.ishenzang.com/static/ko/h5/insurance/zhbwyy_btn_@1x.png") center 5px / cover no-repeat;
		//	margin: 0 auto;
		//}
	}
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
	::v-deep {
		.insurance-main-bg {
			//margin-top: 10px;
		}

		.insurance-footer {
			//margin-top: 0;
			//z-index: 10;
		}
	}
}

//iphone Xs Max
@media only screen and (device-width: 414px) and (device-height: 896px) {
	::v-deep {
		.insurance-main-bg {
			//margin-top: 10px;
		}

		.insurance-footer {
			//margin-top: 0;
			//z-index: 10;
		}
	}
}

//iphone XR
@media only screen and (device-width: 414px) and (device-height: 896px) {
	::v-deep {
		.insurance-main-bg {
			//margin-top: 10px;
		}

		.insurance-footer {
			margin-top: 0;
			z-index: 10;
		}
	}
}
</style>
